.mapboxgl-popup {
  padding-bottom: 50px;
  }

   /* кнопка закрыть */
  .mapboxgl-popup-close-button {
  color: #fff;
  font-size: 30px;
  }

  /* сама карточка */
  .mapboxgl-popup-content {
  padding: 40px;
  background: #4D9CC4;
  border-radius: 10px;
  }
  /* треугольник */
  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    align-self: center;
    border-bottom: none;
    border-top-color: #4D9CC4;
    
}
   
  /* .mapboxgl-popup-content div {
  padding: 10px;
  } */
   
  .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
  }